{:paths ["src/main/clojure"]
 :deps {org.clojure/clojure {:mvn/version "1.11.4"}}

 :aliases
 {:jolt-test
  {:extra-paths ["src/test/clojure"]
   :extra-deps
   {io.github.jolt-lang/time
    {:git/url "https://github.com/jolt-lang/time.git"
     :git/sha "da271ca302487c2c5130a0450b4ad4c78d63e656"}}
   :main-opts ["-m" "clojure.data.json-jolt-test"]}}}
