{:paths ["src/main/clojure"]
 :deps {org.clojure/clojure {:mvn/version "1.11.4"}}

 :aliases
 {:jolt-test
  {:extra-paths ["src/test/clojure"]
   :extra-deps
   {io.github.jolt-lang/time
    {:git/url "https://github.com/jolt-lang/time.git"
     :git/sha "4da23c58ffacd0ae4fe0679e8ca237c1b011c086"}}
   :main-opts ["-m" "clojure.data.json-jolt-test"]}}}
